*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    background-color: rgb(122, 215, 252);
}

header
{
    color: white;
    text-align: center;
}

section
{
    padding: 15px;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

footer
{
    color: white;
    text-align: center;
    font-style: italic;
}